#UseDynLib()
import("graphics","stats","utils","gWidgets","gWidgetstcltk")
export("evGui",
       "invErf",
       "fitExponential", 
       "fitLognormal",
       "fitPareto",
       "fitWeibull",
       "fitNormal",
       "getExponentialLimit",
       "getLognormalLimit",
       "getParetoLimit",
       "getWeibullLimit",
       "getNormalLimit",
       "qqExponentialLimit",
       "qqLognormalLimit",
       "qqParetoLimit",
       "qqWeibullLimit",
       "qqNormalLimit",
       "getOutliersI",
       "getOutliersII",
       "getOutliers",
       "plotMethodII",
       "qqFitPlot",
       "outlierPlot",
       "rpareto",
       "dpareto",
       "qpareto")
